body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:
    radial-gradient(circle at 10px 10px, #eaeaea 2px, transparent 2px),
    radial-gradient(circle at 30px 30px, #eaeaea 2px, transparent 2px);
  background-size: 40px 40px;
  background-color: #f7f7f7;
}

.container {
  max-width: 420px;
  margin: 40px auto;
  padding: 15px;
}

.perfil-area {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.foto-borda {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Torna a borda circular */
  border: 4px solid #ff32b0; /* Borda rosa */
  overflow: hidden; /* Garante que a imagem fique dentro do círculo */
  flex-shrink: 0; /* Impede que a foto encolha */
}

.foto-borda img {
  width: 120%; /* Garante que a imagem preencha a borda */
  height: 120%; /* Garante que a imagem preencha a borda */
  object-fit: cover; /* Corta a imagem para preencher a borda */
}

.info h1 {
  font-size: 20px; /* Tamanho da fonte aumentado */
  margin: 0; /* Margem zero para o título */
}

.info p {
  font-size: 13px; /* Tamanho da fonte aumentado */
  color: #555; 
  margin: 6px 0; /* Margem para o parágrafo */
}

.email {
  font-size: 12px;
  color: #000;
  text-align: center;
  display: block;
  margin-top: 6px;
}

.botoes {
  display: grid; /* Usando grid para layout */
  grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
  gap: 12px; /* Espaçamento entre os botões */
}

.botao {
  background: #ffffff;
  border: 2px solid #000;
  border-radius: 12px;

  padding: 14px 8px;
  text-align: center;

  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: underline; /* Sublinhado */
  box-shadow: 0 4px 0 #000; /* Sombra para efeito 3D */
  transition: 0.2s; /* Transição suave para hover e active */
}

.botao:active {
  box-shadow: 0 2px 0 #000; /* Reduz a sombra */
  transform: translateY(2px); /* Move o botão para baixo */
}

.botao:hover {
  transform: translateY(1px);
  box-shadow: 0 3px 0 #000;
}

.foto-faculdade {
  width: 80px;
  margin: 10px auto 0 auto;
  display: block;
}

.info {
  text-align: center;
}

h1{
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #ff32b0;
}

@media (max-width: 480px) {

  .container {
    margin: 15px auto;
    padding: 10px;
  }

  .perfil-area {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }

  .foto-borda {
    width: 140px;
    height: 140px;
  }

  .info h1 {
    font-size: 18px;
  }

  .info p {
    font-size: 12px;
    margin: 4px 0;
  }

  .email {
    margin-top: 4px;
  }

  .foto-faculdade {
    width: 65px;
    margin-top: 6px;
  }

  .botoes {
    gap: 8px;
  }

  .botao {
    padding: 10px 6px;
    font-size: 13px;
  }
}
